{% extends "layout.html" %}

{% block content %}
<div class="container">
     <div class="row">
    <div class="col-md-12">
        
            <textarea id="context" style="min-width:100%; min-height:500px" class="form-control">

</textarea>
       
        
        <button class="form-control btn btn-primary" type="button" id="submitComplaint">Submit Complaint</button>
        <div style="display:none;margin-bottom:0;"class="alert alert-success" role="alert" id="alert">
            <strong>Your complaint has been filed</strong>
        </div>
    </div>
     </div>
</div>
<div id="outer" style="width:100%">
    <div class="container" id="cr">
        </div>
</div>
    <script>
        $(document).ready(function () {
            $('#submitComplaint').click(function (e) {
                e.preventDefault();
                var ran4num = Math.floor(1000 + Math.random() * 9000)
                $.ajax({
                    url: "/submit",
                    type: "GET",
                    data: { "text": $("#context").val() },
                    success: function (data) {
                        $("#alert").css({ display: "" })
                        $('#alert').append('<strong>Case number: ' + ran4num + '</strong>')
                        $('#alert').show();
                        console.log(data)
                        var result = JSON.parse(data);
                        var table = $("<table/>").addClass("table").addClass("table-hover");
                        var thead = $("<thead>/").append(
                            $("<tr>").append($("<th/>").text("Sentences")).append($("<th/>").text("Score"))
                        );
                var tbody = $("<tbody/>");
                        result.sentences.forEach(function (item, index) {
                            if (item.sentiment.score < -0.199) {
                                tbody.append($("<tr/>").append($("<td/>").text(item.text.content))
                                    .append($("<td/>").text(item.sentiment.score)).addClass("danger"));
                            }
                            else {
                                tbody.append($("<tr/>").append($("<td/>").text(item.text.content))
                                    .append($("<td/>").text(item.sentiment.score)).addClass("success"))
                            }
                });//end for each
                        table.append(thead)
                        table.append(tbody)
                        $("#cr").append(table)

                    }
                })
                console.log(ran4num)
                $('#alert').css({ display: "" })
            })
        })</script>
  <style>
        #cr {
            display: table;
            margin: 0 auto;
        }
    </style>
{% endblock %}